body{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: blue;
}

.inside-pic{
  position: relative;
  margin-left: 4%;
}

.lineUpPic{
  margin: auto; 
  width: 90%;
  /* border: 20px; */
  background: url(./oop-asset/Capture.JPG);
  height: 97vh;
  /* background-size: cover; */
  background-size: 95% 98%;  
  background-repeat: no-repeat;
}

.p1{
  position: absolute;
  left: 38%;
  top: 7%;
}
.p2{
  position: absolute;
  left: 54%;
  top: 7%;
}
.p3{
  position: absolute;
  left: 24%;
  top: 24%;
}
.p4{
  position: absolute;
  left: 37%;
  top: 31%;
}
.p5{
  position: absolute;
  right: 42%;
  top: 31%;
}
.p6{
  position: absolute;
  right: 29%;
  top: 24%;
}
.p7{
  position: absolute;
  left: 18%;
  top: 52%;
}
.p8{
  position: absolute;
  left: 35%;
  top: 56%;
}
.p9{
  position: absolute;
  right: 40%;
  top: 57%;
}
.p10{
  position: absolute;
  right: 22%;
  top: 51%;
}
.p11{
  position: absolute;
  right: 51%;
  top: 69%;
}

@media screen and (max-width: 600px) {
  .p1inp{
    width: 400px ;
    /* display: flex; */
    /* flex-wrap: wrap; */

  }
  /* .inputG input{
   
  } */
}
/* this rep the input for sm for block */

@media screen and (max-width: 768px) {
  .inputG {
    /* display: block !important;  */
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;

  }
  .p1inp, .inputG input{
    width: 100%;
  }
  .p1inp {
    margin: 8px 0 ;

  }
}